/*****ELEMENT-STYLES*****/
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  padding: 40px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  /***font-size:100%=16px=1em;***/
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

hr {
  border: dotted #E6E6E6 6px;
  border-bottom: none;
  display: inline-block;
  margin: 100px auto;
  width: 4%;
}

p {
  color: #40514E;
  font-weight: 800;
  line-height: 2;
}

/*****CONTAINERS*****/
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.middle-container {
  margin-top: 100px 0;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

/*****CLASS-STYLES*****/
.beer {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.egg {
  width: 15%;
}

.footer-link {
  font-weight: 800;
}

.game {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro {
  margin: auto;
  width: 30%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.video {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*****BUTTON*****/
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 90px;
}

.btn:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
