/*****ELEMENT-STYLES*****/
a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  /***font-size:100%=16px=1em;***/
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

/*****CONTAINERS*****/
.top-container {
  background-color: #1687a7;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

/*****CLASS-STYLES*****/
.beer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.game {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hax {
  width: 20%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.video {
  width: 25%;
  float: right;
  margin-left: 30px;
}
